#grid{
  display: grid; 
  grid-template-rows: auto auto;
  grid-template-columns: 16rem auto;
  
  grid-template-areas: 
  'header main'
  'footer main';

  gap: 3px;
  height: 100%;
}
#grid>header{
  grid-area: header;
}
#pagegrid>main{
  grid-area: main;
}
#pagegrid>footer{
  grid-area: footer;
}
